@import url("https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300&family=Roboto+Mono:ital,wght@1,200&display=swap");
* {
  background-color: #d3dedc;
  font-family: "Roboto Mono", monospace;
}
.box {
  border: 2px solid #ffefef;
}
.heading {
  color: #7c99ac;
  padding: 20px;
  margin: auto;
  width: 33%;
}
.box-2 {
  /* border: 2px solid red; */
  margin: auto;
  width: 150px;
}
.click {
  padding: 20px;
  margin: 20px;
}
#quoteDisplay {
  border: 2px solid #7c99ac;
  padding: 15px;
  margin: 20px;
}
